<ion-view view-title="Available Items" name="availitems-view">

	<ion-nav-buttons side="right">
 		<button class="button button-icon ion-compose" ng-click="addmodal.show()"></button>
 	</ion-nav-buttons>

 	<ion-content class="padding">

  		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

		<div class="card" ng-repeat="availitem in availitemList | orderBy: 'expirydate'" data-obj-id="{{availitem.id}}">

			<div>
				<div class="item item-text-wrap left">
					<dt>{{availitem.name}}</dt>
					<dd class="small-dd">{{formatDate(availitem.expirydate)}}</dd>
					<dd class="small-dd">{{availitem.location.latitude}}, {{availitem.location.longitude}}</dd>
					<dd class="small-dd">{{availitem.interested}}</dd>
				</div>
			</div>
			<div class="item right">
				<button class="button button-light" ng-click="confirmConsume(availitem.id)">
	      			<i ng-class="interestClass(availitem.interested)"></i>
	    		</button>
	    		<button class="button button-light" ng-click="confirmShare(availitem.id)">
	    		<!-- <button class="button button-light" ng-click="sharemodal.show(youritem.id)"> -->
	      			<i class="ion-share"></i>
	    		</button>
			</div>

		</div>

  	</ion-content>

</ion-view>