<ion-view title="Please sign in">

  <ion-content class="form-box padding">

    <div class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>

    <div class="buttons">
      <button class="button login-button button-balanced" ng-click="login()" ng-disabled="login.$invalid">Login</button>
      <button class="button register-link button-full" ui-sref="outside.register">Sign up now</button>
    </div>

  </ion-content>

</ion-view>