<ion-view title="Create a new account">
  
  <ion-content class="form-box padding">

    <div class="list">

      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="user.name">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Mobile Number" ng-model="user.mobilenumber">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
        <!-- <input type="password" placeholder="Password" ng-model="user.password" ui-show-password required> -->
      </label>
    </div>
    
    <div class="buttons">
    	<button class="button register-button button-positive" ng-click="signup()">Sign up</button>
    	<button class="button login-link button-full" ui-sref="outside.login">Back to login</button>
    </div>

  </ion-content>

</ion-view>