<ion-view view-title="Your Items" name="youritems-view">

 	<ion-nav-buttons side="right">
 		<button class="button button-icon ion-compose" ng-click="addmodal.show()"></button>
 	</ion-nav-buttons>

 	<ion-content class="padding">

  		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

  		<!-- <button class="button button-full button-positive" ng-click="scheduleDelayedNotification()">
          Show Local Notification After 10 sec (2)
        </button>   -->

		<div class="card" ng-repeat="youritem in youritemList | orderBy: 'expirydate'" data-obj-id="{{youritem.id}}">

			<div>
				<div class="item item-text-wrap left">
					<dt>{{youritem.name}}</dt>
					<dd class="small-dd">{{youritem.expirydate}}</dd>
				</div>
			</div>
			<div class="item right">
				<button class="button button-light" ng-click="confirmConsume(youritem.id)">
	      			<i class="ion-close"></i>
	    		</button>
	    		<button class="button button-light" ng-click="confirmShare(youritem.id)">
	    		<!-- <button class="button button-light" ng-click="sharemodal.show(youritem.id)"> -->
	      			<i class="ion-share"></i>
	    		</button>
			</div>

		</div>

  	</ion-content>

  	<script id="templates/addmodal.html" type="text/ng-template">
      	
      	<ion-modal-view>
        	
        	<ion-header-bar class="bar bar-header bar-positive">
          		<h1 class="title">New Item</h1>
          		<button class="button button-clear button-primary" ng-click="addmodal.hide()">Cancel</button>
    		</ion-header-bar>

    		<ion-content class="padding">
          		<div class="list">

          			<label class="item item-input item-select">
					    <div class="input-label">
					        &nbsp;
					    </div>
					    <select ng-model="selectedItem" ng-options="c.name for c in itemOptions"></select>

					</label>

            		<button class="button button-full button-positive" ng-click="addItem(selectedItem)">Create</button>

          		</div>
        	</ion-content>

      	</ion-modal-view>

    </script>

    <script id="templates/sharemodal.html" type="text/ng-template">
      	
      	<ion-modal-view>
        	
        	<ion-header-bar class="bar bar-header bar-positive">
          		<h1 class="title">New Item</h1>
          		<button class="button button-clear button-primary" ng-click="sharemodal.hide()">Cancel</button>
    		</ion-header-bar>

    		<ion-content class="padding">
          		
          		<!-- <div id="map" data-tap-disabled="true"></div> -->

        	</ion-content>

      	</ion-modal-view>

    </script>

</ion-view>