/* Empty. Add your own CSS if you like */

body {
	font-family: 'Fira Sans', sans-serif;
}

ion-header-bar .title.header-item, ion-nav-view .tab-title, .popup-title {
	font-family: 'Varela Round', sans-serif;
}

.form-box {
	padding: 80px 20px 0 20px;
}

.form-box .list label {
    margin-bottom: 20px;
}

.form-box .list label input, button {
    font-family: 'Fira Sans', sans-serif;
}

.card .item {
	border: none;
}

.card .item.left {
	float: left;
}

.card .item.right {
	float: right;
}

dd.small-dd {
	font-size: 12px;
}

.item-select select {
	left: 0;
    padding: 0 20px 0 16px;
    direction: initial;
    width: 100%;
    font-size: 16px;
}

.popup-container.popup-showing .popup-body {
	text-align: center;
}

span.red-color {
	color: #D0021B;
}

span.alert-heading {
	color: #FFFFFF;
    font-size: 10px;
    padding: 2px 3px 2px 3px;
    border-radius: 3px;
    width: 40px;
    margin: 5px auto;
    text-align: center;
	background-color: #C02539;
}

.buttons {
	text-align: center;
}

.buttons button.login-button, .buttons button.register-button {
	color: #FFF;
    margin-top: 15px;
    box-shadow: none;
    background-color: #D0021B;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 50px;
}

.buttons button.login-link, .buttons button.register-link {
	font-size: 12px;
	color: #9B9B9B;
}